/* Navagation */

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 18px;
}

/* Image Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-1-img {
  width: 500px;
  height: 500px;
}

/* Mobile View Size */
@media only screen and (max-width: 250px) {
  #project-1-img {
    width: 150px;
    height: 150px;
  }
}

#headshot {
  width: 550px;
  height: 550px;
}

/* Mobile View Size */
@media only screen and (max-width: 400px) {
  #headshot {
    width: 250px;
    height: 250px;
  }
}

/* Tablet View Size */
@media only screen and (max-width: 900px) {
  #headshot {
    width: 400px;
    height: 400px;
  }
}
/* Second Image Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-2-img {
  width: 400px;
  height: 400px;
}

/* Mobile View Size */
@media only screen and (max-width: 250px) {
  #project-2-img {
    width: 150px;
    height: 150px;
  }
}

/* Third Image Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-3-img {
  width: 400px;
  height: 400px;
}

/* Mobile View Size */
@media only screen and (max-width: 250px) {
  #project-3-img {
    width: 150px;
    height: 150px;
  }
}

/* Fourth Image Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-4-img {
  width: 400px;
  height: 400px;
}

/* Mobile View Size */
@media only screen and (max-width: 250px) {
  #project-4-img {
    width: 150px;
    height: 150px;
  }
}

/* End of Image Sizing */

/* Hero Styling */
.hero {
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  flex-wrap: wrap;
  position: relative; 
}

.hero-cta {
  width: 90%;
  margin: 3.5%;
  border: 12px solid white;
  padding: 20px;
  color: white;
  background-color: #303030;
  text-align: center;
}

/* End of Hero Styling */

/* Project Section */
.container {
  display: flex;
  flex-direction: row;
  order: 3;
  flex-shrink: 1;
}

/* container 2 */
.container-2 {
  display: flex;
  flex-direction: row;
  order: 3;
  flex-shrink: 1;
}

.my-projects {
  text-align: center;
  width: 90%;
  margin: 3.5%;
  border: 12px solid white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #152238;
}
/* project 2 */
.my-projects-container-2 {
  text-align: center;
  width: 90%;
  margin: 3.5%;
  border: 12px solid white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #152238;
}

.my-projects-2 {
  padding-left: 20px;
}

.my-projects-3 {
  padding-left: 20px;
}

.my-projects-4 {
  padding-left: 20px;
}

/* Footer Styling */

.footer {
  font-size: 10px;
  text-align: center;
}

/* End of Footer Styling */